* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.header_container {
    width: 100%;
    height: 82px;
    background: var(--White, #FFF);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.header_logo {
    color: var(--Red, #C90000);
    font-family: 'M PLUS 1p';
    font-weight: 700;
    font-size: 32px;
    line-height: normal;
    text-decoration: none;
}

.header_container__nav {
    display: flex;
    flex-direction: row;

}

.header_container__nav ul {
    display: flex;
    list-style: none;
    padding: 0;

}

.header_container__nav li {
    margin-right: 50px;
}

.header_container__nav a {
    color: var(--Red, #C90000);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
    text-decoration: none;
}

.header_container__nav_icons {
    display: flex;
    flex-direction: row;
}

.header_container__nav_icons ul {
    display: flex;
    list-style: none;
    padding: 0;

}

.header_container__nav_icons li {
    margin-right: 15px;
}

.header_container__call {
    display: inline-flex;
    padding: 14px 45px;
    align-items: flex-start;
    gap: 10px;
    background: var(--Red, #C90000);
    width: 226px;
    height: 47px;
    text-decoration: none;
}

.header_container__call p {
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
}

.filter_title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
    margin-left: 250px;
    padding: 0%;
}

#sub_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding-left: 30px;
}

.grid_title h1 {
    color: rgb(34, 34, 34);
    font-family: Montserrat;
    margin-left: 24px;
}

#tovar {
    color: rgb(201, 0, 0);
    font-family: Montserrat;
}

#sort-by {
    color: rgb(34, 34, 34);
    font-family: Montserrat;
}
